  /* Customize sidebar to cover half the screen width */
  .custom-offcanvas {
    width: 50%; 
  }



  .custom-offcanvas .list-unstyled a {
    color: var(--navbar-text-color) !important; 
    text-decoration: none; 
  }
 
  .custom-navbar  {
    background-color: var(--primary-color) !important;
  }
  .custom-navbar .nav-link {
    color: var(--navbar-text-color) !important;
  }
  .navbar-brand {
    color: var(--navbar-brand-color) !important;
    text-transform: var(--navbar-brand-text-transform);
  }

  .custom-navbar .nav-link:hover {
    color: #ccc; 
  }


  /* Styling sidebar links */
  .offcanvas-body ul li a {
    font-size: 18px;
    padding: 10px;
    display: block;
    color: #333;
    text-decoration: none;
  }

  .offcanvas-body ul li a:hover {
    background-color: #ddd;
  }


