.bi {
    display: inline-block;
  }

  .btn-dan{
 background-color: #FF4F00 !important;
  }
  button:focus {
    outline: none;
  }
  
  ul {
    padding-left: 0;
  }
  .custom-img {
    height: 300px; 
    object-fit: cover;
    border-radius: 8px; 
  }
  

