<!-- <p>navbar works!</p> -->
<div class="container-fluid">
    Navbar
    <nav class="navbar navbar-expand-lg custom-navbar fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">My Website</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav  mx-auto">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a 
                class="nav-link dropdown-toggle" 
                href="#" 
                id="supermarketDropdown" 
                role="button" 
                data-bs-toggle="dropdown" 
                aria-expanded="false">
               Pages
              </a>
              <ul class="dropdown-menu" aria-labelledby="supermarketDropdown">
                <li><a class="dropdown-item" routerLink="/grid-amountname">Supemarket</a></li>
                <li><a class="dropdown-item" routerLink="/nameof-productinimage">Clothes</a></li>
                <li><a class="dropdown-item" routerLink="/nameup-imageamtbelow">Hair</a></li>
                <li><a class="dropdown-item" routerLink="image-starreviewname">Food</a></li>
                <li><a class="dropdown-item" routerLink="/furniture">Furniture</a></li>
                <li><a class="dropdown-item" routerLink="/native">Native Clothes</a></li>
                <li><a class="dropdown-item" routerLink="/spare-part">Spare Part</a></li>
                <li><a class="dropdown-item" routerLink="/native">Native Clothes</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/grid-amountname">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/grid-amountname">Contact</a>
            </li>
          </ul>
  
          <div class="d-flex">
            <a class="btn btn-outline-light me-2" href="#">Login</a>
            <a class="btn btn-light" href="#">Register</a>
          </div>
        </div>
      </div>
    </nav>
  
    <!-- Sidebar -->
    <div class="offcanvas offcanvas-start custom-navbar custom-offcanvas" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
      <div class="offcanvas-header">
        <!-- <h5 id="sidebarLabel">Navigation</h5> -->
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none">Home</a></li>
          <li><a href="#" class="text-decoration-none">About</a></li>
          <li><a href="#" class="text-decoration-none">Services</a></li>
          <li><a href="#" class="text-decoration-none">Contact</a></li>
          <li><a class="text-decoration-none " href="#">Login</a></li>
          <li><a class="text-decoration-none" href="#">Register</a></li>
        </ul>
      </div>
    </div>
  
     <!-- Main Content  -->
     <!-- <div class="content" style="margin-top: 100px;">
      <h1>Welcome to My Website</h1>
      <p>Click the menu icon to toggle the sidebar.</p>
    </div>  -->
  </div>
