.section-title {
  font-size: 1.5rem; /* Default font size */
  font-weight: bold;
  color: #333; /* Neutral color for heading */
  margin-bottom: 20px;
}

.section-title h2 {
  font-size: 2rem; /* Larger size for desktops */
}

@media (max-width: 768px) {
  .section-title h2 {
    font-size: 1.5rem; /* Adjust size for tablets and smaller screens */
  }
}

@media (max-width: 576px) {
  .section-title h2 {
    font-size: 1.25rem; /* Adjust size for mobile screens */
  }
}


.card {
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  margin-top: 10px;
  height: 200px;
  object-fit: contain;
}

.discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #FF4F00;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  z-index: 10;
  display: block; 
}

.love-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  color: gray; /* Default color for the love icon */
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}

.love-badge.active {
  color: rgb(218, 210, 105); /* Change to yellow when active */
}

.love-badge:hover {
  transform: scale(1.2); /* Slight zoom effect on hover */
}

.rating {
  display: flex;
  justify-content: center;
}

.rating i {
  color: gold;
  margin-right: 4px;
}

.rating i.far {
  color: lightgray;
}

/* Media query to adjust image and badge positioning on smaller screens */
@media (max-width: 576px) {
  .card-img-top {
    height: 100px;  /* Reduce image size on smaller screens */
  }

  .discount-badge {
    font-size: 12px;  
    padding: 2px 4px; 
  }

  .love-badge {
    font-size: 20px;
  }
}
