<!-- <p>img-amtnamestarbtn works!</p> -->
<!--Amount, name, star, buttons-Add to cart and buy now-->

<div class="container py-5">
  <!-- Section Title -->
  <div class="section-title text-center mb-4">
    <h2>Our Featured House Items</h2>
  </div>

  <div class="row">
    <!-- Product Cards -->
    <div class="col-6 col-sm-4 col-md-4 mb-4" *ngFor="let product of products">
      <div class="card">
       
        <img src="{{ product.image }}" alt="Product Image" class="card-img-top">
        <div class="card-body text-center">
          <h5 class="card-title">{{ product.name }}</h5>
          <div class="rating mb-2">
            <i
              class="fas fa-star"
              *ngFor="let star of product.rating; let i = index"
              [ngClass]="{ far: i >= product.ratingValue }"
            ></i>
          </div>
          <p class="price">{{ product.price | currency }}</p>
          <!-- Buttons -->
          <div class="button-group mt-3">
            <button class="btn btn-primary btn-sm" routerLink="/cart/display2">
              <i class="fas fa-shopping-cart"></i> Add to Cart
            </button>
            <button class="btn btn-success btn-sm">
              <i class="fas fa-credit-card"></i> Buy Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


