<!-- <p>img-amtbutons works!</p> -->
<!--buy now and add to cart buttons-->
<div class="container py-5">
  <div class="row">
    <!-- Loop through products array -->
    <div class="col-md-4 mb-4" *ngFor="let product of products">
      <div class="card text-center">
        <div class="card-img-container">
          <div *ngIf="product.isNew" class="circle green-circle">NEW</div>
          <div *ngIf="product.isOnSale" class="circle yellow-circle">ON SALE</div>
          <img [src]="product.imageUrl" [alt]="product.title" class="card-img-top">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="price">₹{{ product.price }}</p>
          <div class="button-group">
            <button class="btn btn-primary buy-now" routerLink="/buy-now">Buy Now</button>
            <button class="btn btn-secondary add-to-cart" routerLink="/cart/display1">
              <i class="fas fa-shopping-cart"></i> Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

