<!-- <p>display-video works!</p> -->
 <!-- <p>landing-page works!</p> -->
<!-- Hero Section -->
<section>
    <app-fullheight-display></app-fullheight-display>
  </section>
    <!-- <section>
    <app-image-amtstar></app-image-amtstar>
  </section> -->

  <!-- <section>
    <app-slider-display></app-slider-display>
  </section> -->
  
  <!-- Category Grid -->
  <!-- <section class="category-grid">
    <app-image-textoverlay></app-image-textoverlay>
    <app-text-slider></app-text-slider>
    <app-image-text-slider></app-image-text-slider>
  </section> -->
  
  <!-- Product Highlights -->
  <!-- <section class="product-highlights">
    <app-image-amtstar></app-image-amtstar>
    <app-img-amtprice></app-img-amtprice>
    <app-img-amtbutons></app-img-amtbutons>
  </section> -->
  
  <!-- Call-to-Action -->
  <!-- <section class="cta-section text-center">
    <button class="btn btn-primary">Shop Now</button>
  </section> -->
  
