<!-- <p>swiper-display works!</p> -->
<!--search bar first before swiper below-->

<!-- Sidebar -->
<main class="hero">
  <div class="swiper hero-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="../images/hero-images/medium.jpg" alt="Background Image 1" class="hero-image" />
        <div class="hero-content">
          <h2 class="h2">Creative solutions for everyone</h2>
          <h1 class="h1">We craft unique business ideas</h1>
          <div class="hero-buttons">
            <a href="#" class="btn btn-primary">Discover crafto →</a>
            <a href="#" class="btn btn-secondary">Get started now</a>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <img src="../images/hero-images/herrr2.jpeg" alt="Background Image 1" class="hero-image" />
        <div class="hero-content">
          <h2>Creative solutions for everyone</h2>
          <h1>We craft unique business ideas</h1>
          <div class="hero-buttons">
            <a href="#" class="btn btn-primary">Explore Now →</a>
            <a href="#" class="btn btn-secondary">Get started now</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Navigation -->
    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
  </div>
</main>
<!-- <section>
  <app-img-amtnamestarbtn></app-img-amtnamestarbtn>
</section> -->






